<script src="{{ asset('bundles/coreui/js/jquery-3.6.1.min.js') }}"></script>
<script src="{{ asset('bundles/coreui/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/coreui/js/bootstrap.min.js') }}"></script>
<script type="text/javascript">
    $(function(){
        
        $('body').on('show.bs.modal', '.modal', function(event) {
            $(this).find(".modal-content").load(event.relatedTarget.href);
        });
        
        $('body').on('hidden.bs.modal', '.modal', function(event) { 
            $(this).find(".modal-content").html('<div style="text-align: center"><img src="{{ asset('bundles/coreui/assets/img/loading.gif') }}" style="width: 20px"/></div>');
        });
    });

    $(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('lastTab', $(this).attr('href'));
        });
        var lastTab = localStorage.getItem('lastTab');
        if (lastTab) {
            $('[href="' + lastTab + '"]').tab('show');
        }
    }); 
</script>
<script src="{{ asset('bundles/coreui/vendors/@coreui/coreui/js/coreui.bundle.min.js') }}"></script>
<script src="{{ asset('bundles/coreui/vendors/simplebar/js/simplebar.min.js') }}"></script>
{#<script src="{{ asset('bundles/coreui/vendors/chart.js/js/chart.min.js') }}"></script>
<script src="{{ asset('bundles/coreui/vendors/@coreui/chartjs/js/coreui-chartjs.js') }}"></script>#}
<script src="{{ asset('bundles/coreui/vendors/@coreui/utils/js/coreui-utils.js') }}"></script>
{#<script src="{{ asset('bundles/coreui/js/main.js') }}"></script>#}